/* html,
body {
  max-width: 100vw;
  height: 100vh;
  overflow-x: hidden;
} */

body {
  font-family: 'VT323', sans-serif !important;
  font-weight: normal !important;
}

.footer-bar {
  margin: 0px !important;
  padding: 0px !important;
  padding-top: 1px !important;
  backdrop-filter: blur(11px);
}

.footerNavBar {
  bottom: 0 !important;
  text-align: center;
  font-size: 14px !important;
  padding: 2px 0px !important;
}

.footer-nav-col {
  vertical-align: bottom !important;
  bottom: 0 !important;
  position: fixed !important;
  width: 100%;
  overflow: hidden;
}

.nav-footer {
  vertical-align: bottom !important;
  bottom: 0 !important;
  position: fixed !important;
  width: 100%;
  overflow: hidden;
  z-index: 11 !important;
}

.nav-footer .center.aligned.row {
  padding: 0px;
}

.footer {
  bottom: 0;
}

/* color palette picker */
.palette-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.palette-grid-section .row .column {
  margin: auto;
  padding: 0px !important;
  width: 35px !important;
  height: 32px !important;
  text-align: center;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5) !important;
  cursor: pointer;
}

#palette-container {
  filter: none !important;
}

.ui.button {
  width: 100% !important;
  color: rgb(255, 255, 255) !important;
  background-color: rgb(32, 13, 42) !important;
  border-radius: 5px !important;
  border: 1px solid #92319d !important;
}

.ui.button:hover {
  transform: translateY(-1px);
  background-color: rgb(50, 21, 66) !important;
}

.ui.button:active {
  transform: translateY(0px);
  background-color: rgb(81, 34, 107) !important;
}
